body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to left,violet,indigo,blue,green,yellow,orange,red);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .btn-info, .btn-primary {
    border-radius: 20px;
  }
  